
  <%- include('includs/Head_Admin.ejs'); %>


  <div class="position-absolute w-100" style="height: 40vh; background-color: #38B6FF">
    <div class="d-flex gap-3 mx-3" style="height: 100vh;">
      <%- include('includs/SidBar_Admin.ejs'); %>

        <div class="position-relative w-100">
          <%- include('includs/Navbar_Admin.ejs'); %>
          
          <div class="col-lg-11 mb-3 mb-sm-5 shadow ms-4">
            <div class="card card-style1 border-0">
              <div class="card-body p-9 p-sm-3 p-md-6 p-lg-7">
                <div class="row align-items-center">
                  <div class="col-lg-5 d-md-flex d-none mb-3 mb-lg-0">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
                  </div>
                  <div class="col-lg-6 px-xl-10">
                    <div class="d-lg-inline-block py-2 px-5 px-sm-3 mb-4 col-lg-12 rounded">
                      <span style="color: #38B6FF;" class="fs-2 fw-bold">Edite Profile</span>
                    </div>
                    <ul class="list-unstyled mb-1-9">
                      <span class="display-26 text-secondary me-2 font-weight-600 fs-5">First Name:
                        <input class="mb-2 col-12 mt-2 mb-xl-3 display-28"></span>

                      <span class="display-26 text-secondary me-2 font-weight-600 fs-5">Last Name:
                        <input class="mb-2 col-12 mt-2 mb-xl-3 display-28"></span>

                      <span class="display-26 text-secondary me-2 font-weight-600 fs-5">Email:
                        <input class="mb-2 col-12 mt-2 mb-xl-3 display-28"></span>

                      <span class="display-26 text-secondary me-2 font-weight-600 fs-5">Phone:
                        <input class="mb-2 col-12 mt-2 mb-xl-3 display-28"></span>

                      <span class="display-26 text-secondary me-2 font-weight-600 fs-5">Password:
                        <input class="mb-2 col-12 mt-2 mb-xl-3 display-28"></span>
                    </ul>
                    <div>
                      <button type="submit" class="btn fs-6 w-25 mb-3"
                        style="background-color: #38B6FF;">Valider</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include('includs/Footer_Admin.ejs'); %>