
  <%- include('includs/Head_Admin.ejs'); %>


  <div class="position-absolute w-100" style="height: 40vh; background-color: #38B6FF">
    <div class="d-flex gap-3 mx-3" style="height: 100vh;">
      <%- include('includs/SidBar_Admin.ejs'); %>

        <div class="position-relative w-100">
          <%- include('includs/Navbar_Admin.ejs'); %>
          
          <div style="height: 6vh;"></div>
          <!-- Prifile -->
          <div class="col-lg-11 mb-3 mb-sm-5 shadow ms-4">
            <div class="card card-style1 border-0">
              <div class="card-body p-9 p-sm-3 p-md-6 p-lg-7">
                <div class="row align-items-center">
                  <div class="col-lg-5 d-md-flex d-none mb-3 mb-lg-0">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
                  </div>
                  <div class="col-lg-6 px-xl-10">
                    <div class="d-lg-inline-block py-2 px-5 px-sm-3 mb-4 col-lg-12 rounded">
                      <span style="color: #38B6FF;" class="fs-2 fw-bold">Edite Profile</span>
                    </div>
                    <form class="d-flex flex-column gap-3">
                      <div>
                        <label for="first_name">First Name :</label>
                        <input class="form-control" id="first_name" type="text" placeholder="First Name">
                      </div>
                      <div>
                        <label for="first_name">Last Name :</label>
                        <input class="form-control" id="last_name" type="text" placeholder="Last Name">
                      </div>
                      <div>
                        <label for="first_name">Email :</label>
                        <input class="form-control" id="email" type="text" placeholder="Email">
                      </div>
                      <div>
                        <label for="first_name">Phone :</label>
                        <input class="form-control" id="phone" type="text" placeholder="Phone">
                      </div>
                      <div>
                        <label for="first_name">Password :</label>
                        <input class="form-control" id="password" type="text" placeholder="Password">
                      </div>
                      <div>
                        <input class="btn px-5 py-2" type="submit" id="valider" value="Valider">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include('includs/Footer_Admin.ejs'); %>