<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="assets/the_all.png">
    <title>The All</title>
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
    
    <!-- NavBar -->
    <div id="navbar">
        <div class="position-fixed top-0 start-0 p-3" style="z-index: 999;">
            <img src="assets/the_all.png" id="logo" alt="logo">
        </div>
        <div class="position-fixed top-0 end-0 d-flex justify-content-end p-3">
            <nav class="navbar navbar-expand-lg navbar-light shadow rounded" id="navbar-example2">
                <div class="container-fluid d-flex justify-content-end">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
                        <ul class="navbar-nav nav nav-pills gap-md-5">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#blog">Bloks</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <!-- Home -->
    <div id="home">
        <!-- Content -->
        <div id="content">
            <div class="w-100 h4 d-md-flex justify-content-center align-items-center px-3" id="content_text">
                <div>Var Blog = [</div>
                <div class="d-flex flex-wrap gap-md-2 gap-0">
                    <span>'</span>
                    <span><a href="">Sport</a></span>
                    <span>','</span>
                    <span><a href="">Music</a></span>
                    <span>','</span>
                    <span><a href="">Cuisine</a></span>
                    <span>','</span>
                    <span><a href="">Politique</a></span>
                    <span>',</span>
                    <span><a href="">...</a></span>
                </div>
                <div>]</div>
            </div>
            <div class="col-md-3 col-8" id="content_search">
                <div class="input-group flex-nowrap">
                    <input type="text" class="form-control" placeholder="Title Of Blog" aria-label="Username" aria-describedby="addon-wrapping">
                    <span class="input-group-text" id="addon-wrapping"><i class="bi bi-search"></i></span>
                </div>
            </div>
        </div>
        <!-- Article Tandance -->
        <div class="d-flex justify-content-center">
            <div class="col-md-6 col-11 position-absolute d-flex justify-content-center shadow bg-body" id="article_tandance">
                <div id="image" class="col-4 d-flex justify-content-center align-items-center">
                    <img src="assets/image-article/article1.jpg" alt="article-1">
                </div>
                <div id="text" class="col-8 d-flex flex-column justify-content-between px-3">
                    <a href="" id="title">Title</a>
                    <div id="categorie">Categorie</div>
                    <div id="discription">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam modi sunt vel explicabo doloremque.</div>
                    <a href="" id="lire_suite">Lire la suite ...</a>
                    <div id="action">
                        <div class="float-start" id="action_avis">
                            <i class="bi bi-hand-thumbs-up btn" type="button"></i>
                            <i class="bi bi-hand-thumbs-down btn" type="button"></i>
                        </div>
                        <div class="float-end" id="action_commentaire">
                            <i class="bi bi-chat-square-dots btn" type="button"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blok -->
    <div class="d-flex flex-column justify-content-center align-items-center px-2" id="blog">
        <div class="col-md-10 col-11 d-flex flex-wrap justify-content-center align-items-center gap-md-4 gap-2 shadow rounded p-4" id="sidebar_categorie">
            <div><input type="radio" name="buttonCategorie" value="All" id="all"><label class="btn" for="all">All</label></div>
            <div><input type="radio" name="buttonCategorie" value="Sport" id="sport"><label class="btn" for="sport">Sport</label></div>
            <div><input type="radio" name="buttonCategorie" value="Music" id="music"><label class="btn" for="music">Music</label></div>
            <div><input type="radio" name="buttonCategorie" value="Cuisine" id="cuisine"><label class="btn" for="cuisine">Cuisine</label></div>
            <div><input type="radio" name="buttonCategorie" value="Politique" id="politique"><label class="btn" for="politique">Politique</label></div>
        </div>
        <div class="col-md-11 col-12" id="content">
            <!-- Article -->
            <div class="d-flex flex-wrap justify-content-center align-items-center p-3">
                <div class="col-md-3 col-sm-6 col-6 p-2 articles">
                    <div class="card">
                        <img class="card-img-top" src="assets/image-article/article1.jpg" alt="article1">
                        <div class="p-2">
                            <div class="title">Title</div>
                            <div class="categorie">Categorie</div>
                            <div class="discription">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam modi sunt vel explicabo doloremque.</div>
                            <a href="" class="lire_suite">Lire la suite ...</a>
                            <div class="px-2 mt-1" id="action">
                                <div class="float-start" id="action_avis">
                                    <i class="bi bi-hand-thumbs-up h4" type="button"></i>
                                    <i class="bi bi-hand-thumbs-down h4" type="button"></i>
                                </div>
                                <div class="float-end" id="action_commentaire">
                                    <i class="bi bi-chat-square-dots h4" type="button"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6 p-2 articles">
                    <div class="card">
                        <img class="card-img-top" src="assets/image-article/article1.jpg" alt="article1">
                        <div class="p-2">
                            <div class="title">Title</div>
                            <div class="categorie">Categorie</div>
                            <div class="discription">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam modi sunt vel explicabo doloremque.</div>
                            <a href="" class="lire_suite">Lire la suite ...</a>
                            <div class="px-2 mt-1" id="action">
                                <div class="float-start" id="action_avis">
                                    <i class="bi bi-hand-thumbs-up h4" type="button"></i>
                                    <i class="bi bi-hand-thumbs-down h4" type="button"></i>
                                </div>
                                <div class="float-end" id="action_commentaire">
                                    <i class="bi bi-chat-square-dots h4" type="button"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6 p-2 articles">
                    <div class="card">
                        <img class="card-img-top" src="assets/image-article/article1.jpg" alt="article1">
                        <div class="p-2">
                            <div class="title">Title</div>
                            <div class="categorie">Categorie</div>
                            <div class="discription">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam modi sunt vel explicabo doloremque.</div>
                            <a href="" class="lire_suite">Lire la suite ...</a>
                            <div class="px-2 mt-1" id="action">
                                <div class="float-start" id="action_avis">
                                    <i class="bi bi-hand-thumbs-up h4" type="button"></i>
                                    <i class="bi bi-hand-thumbs-down h4" type="button"></i>
                                </div>
                                <div class="float-end" id="action_commentaire">
                                    <i class="bi bi-chat-square-dots h4" type="button"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6 p-2 articles">
                    <div class="card">
                        <img class="card-img-top" src="assets/image-article/article1.jpg" alt="article1">
                        <div class="p-2">
                            <div class="title">Title</div>
                            <div class="categorie">Categorie</div>
                            <div class="discription">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam modi sunt vel explicabo doloremque.</div>
                            <a href="" class="lire_suite">Lire la suite ...</a>
                            <div class="px-2 mt-1" id="action">
                                <div class="float-start" id="action_avis">
                                    <i class="bi bi-hand-thumbs-up h4" type="button"></i>
                                    <i class="bi bi-hand-thumbs-down h4" type="button"></i>
                                </div>
                                <div class="float-end" id="action_commentaire">
                                    <i class="bi bi-chat-square-dots h4" type="button"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6 p-2 articles">
                    <div class="card">
                        <img class="card-img-top" src="assets/image-article/article1.jpg" alt="article1">
                        <div class="p-2">
                            <div class="title">Title</div>
                            <div class="categorie">Categorie</div>
                            <div class="discription">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam modi sunt vel explicabo doloremque.</div>
                            <a href="" class="lire_suite">Lire la suite ...</a>
                            <div class="px-2 mt-1" id="action">
                                <div class="float-start" id="action_avis">
                                    <i class="bi bi-hand-thumbs-up h4" type="button"></i>
                                    <i class="bi bi-hand-thumbs-down h4" type="button"></i>
                                </div>
                                <div class="float-end" id="action_commentaire">
                                    <i class="bi bi-chat-square-dots h4" type="button"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6 p-2 articles">
                    <div class="card">
                        <img class="card-img-top" src="assets/image-article/article1.jpg" alt="article1">
                        <div class="p-2">
                            <div class="title">Title</div>
                            <div class="categorie">Categorie</div>
                            <div class="discription">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam modi sunt vel explicabo doloremque.</div>
                            <a href="" class="lire_suite">Lire la suite ...</a>
                            <div class="px-2 mt-1" id="action">
                                <div class="float-start" id="action_avis">
                                    <i class="bi bi-hand-thumbs-up h4" type="button"></i>
                                    <i class="bi bi-hand-thumbs-down h4" type="button"></i>
                                </div>
                                <div class="float-end" id="action_commentaire">
                                    <i class="bi bi-chat-square-dots h4" type="button"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6 p-2 articles">
                    <div class="card">
                        <img class="card-img-top" src="assets/image-article/article1.jpg" alt="article1">
                        <div class="p-2">
                            <div class="title">Title</div>
                            <div class="categorie">Categorie</div>
                            <div class="discription">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam modi sunt vel explicabo doloremque.</div>
                            <a href="" class="lire_suite">Lire la suite ...</a>
                            <div class="px-2 mt-1" id="action">
                                <div class="float-start" id="action_avis">
                                    <i class="bi bi-hand-thumbs-up h4" type="button"></i>
                                    <i class="bi bi-hand-thumbs-down h4" type="button"></i>
                                </div>
                                <div class="float-end" id="action_commentaire">
                                    <i class="bi bi-chat-square-dots h4" type="button"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About -->
    <div id="about">
        <div class="text-uppercase" id="title">About Us</div>
        <div class="card col-md-5 col-sm-6 col-11 mt-5">
            <img class="card-img-top rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 200px; height: 200px;" src="assets/the_all.png" alt="">
            <div class="d-flex flex-column justify-content-center align-items-center gap-3 p-2">
                <div id="name">The All</div>
                <div class="w-75 text-center" id="discription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis impedit asperiores expedita enim, itaque facilis mollitia sequi unde sunt velit harum quia dolore a in reiciendis excepturi, ipsam hic quis!</div>
                <div class="px-2 mt-1" id="media">
                    <i class="bi bi-facebook" type="button"></i>
                    <i class="bi bi-instagram" type="button"></i>
                    <i class="bi bi-youtube" type="button"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact -->
    <div class="d-flex gap-5" id="contact">
        <div class="text-uppercase" id="title">Contact Us</div>
        <div class="w-75 text-center">
            Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within a matter of hours to help you.
        </div>
        <form class="w-75 d-flex flex-column gap-md-5 gap-3" method="POST" action="">
            <div class="row d-flex justify-content-center align-items-center gap-3">
                <div class="d-flex flex-column gap-4 col-md-5">
                    <div class="form-group">
                        <input class="form-control" name="username" type="text" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="email" type="email" placeholder="Email">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group form-group-textarea mb-md-0">
                        <textarea class="form-control" name="message" placeholder="Message..."></textarea>
                    </div>
                </div>
            </div>
            <div class="text-center"><button class="btn text-uppercase" type="submit">Send Message</button></div>
        </form>
    </div>

    <!-- Footer -->
    <footer id="footer" class="text-lg-start text-white">
        <div class="container p-4">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
                <img src="assets/the_all.png" height="70" alt="Logo" loading="lazy"/>
              </div>
              <p class="text-center">The importance of blog descriptions may not seem important to you now.</p>
              <ul class="list-unstyled d-flex flex-row justify-content-center h4">
                <li><a class="text-white px-2" href="#!"><i class="bi bi-facebook"></i></a></li>
                <li><a class="text-white px-2" href="#!"><i class="bi bi-instagram"></i></a></li>
                <li><a class="text-white ps-2" href="#!"><i class="bi bi-youtube"></i></a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase mb-2">Categorie</h5>
              <ul class="list-unstyled">
                <li><a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>News</a></li>
                <li><a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Sport</a></li>
                <li><a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Cuisine</a></li>
                <li><a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Music</a></li>
                <li><a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Politique</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase mb-2">More</h5>   
              <ul class="list-unstyled">
                <li><a href="#" class="text-white"><i class="fas fa-paw pe-3"></i>About Us</a></li>
                <li><a href="#" class="text-white"><i class="fas fa-paw pe-3"></i>About the Blog's</a></li>
                <li><a href="#" class="text-white"><i class="fas fa-paw pe-3"></i>Job</a></li>
                <li><a href="#" class="text-white"><i class="fas fa-paw pe-3"></i>Tenders</a></li>
                <li><a href="#" class="text-white"><i class="fas fa-paw pe-3"></i>Contact</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-2">Contact</h5>
                <ul class="list-unstyled">
                    <li><a><i class="fas fa-map-marker-alt pe-3"></i>Youssoufia, 57 Street, Maroc</a></li>
                    <li><a><i class="fas fa-phone pe-3"></i>+212611848302</a></li>
                    <li><a><i class="fas fa-envelope pe-3"></i>contact@example.com</a></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
          © 2022 Copyright:
          <a class="text-white" href="#">The-All.com</a>
        </div>
    </footer>

</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>